{:source-paths ["src"]

 :dependencies [[re-frame "0.10.6"]]

 :http {:port 3449
        :host "0.0.0.0"}

 :builds {:lib
          {:target :npm-module
           :init-fn firebase.core/init
           :output-dir "lib"}}}
